@import "~antd/dist/antd.css";
@import "~izitoast/dist/css/iziToast.min.css";

div#root {
  max-width: 414px;
  margin: auto auto;
  overflow: hidden;
}

.App {
  max-width: 414px;
  margin: auto auto;
  overflow: hidden;
}

#company-logo {
  width: 200px;
}

.iziToast-cover {
  background-size: 75% !important;
}

.iziToast-wrapper .iziToast-wrapper-topCenter {
  position: absolute;
}

.main.ant-layout-content {
  margin: auto !important;
}

.ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: #d5dad5
}